html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Roboto,Arial,sans-serif;
	font-weight: 300;
    font-size:14px;
}

h3 {
	color:rgba(72, 74, 111, 1);
	font-size:16px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
}
#map_canvas {
 	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.infoWin {
	height: 120px;
	width: 260px;	
}
.map_container {
	position: fixed;
	top: 50px;
	right: 0;
	left: 0;
	bottom: 0;
}

div.header>div>ul>li>a {
	padding: 0 10px;
	color: #eeeeee;
	line-height: 49px;
	font-weight: 300;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	display: block;
	text-decoration: none;
}

.header {
	position:fixed;
	top:0;
	width:100%;
	height: 50px;
  	background: rgba(72, 74, 111, 0.9);
  	line-height: 50px;
}

div.header>div>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.header>div>ul>li {
    margin: 0 3px 0 0;
    padding: 0;
	height: 49px;
	line-height: 49px;
	display: inline-block;
	border-right: 1px solid rgba(72, 74, 111, 0.95);
	border-left: 1px solid rgba(72, 74, 111, 0.95);
	text-align: center;
	float: left;
	font-size:14px;
}

div.header>div>ul>li>a:hover{
	background:rgba(72, 74, 111, 1);
}


.leftNav {
	float:left;
}
.headerContainer {
	max-width: 600px;
	width:100%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.contentContainer {
	width: 100%;
	top: 50px;
	position:fixed;
}
.content {
	max-width: 600px;
    margin: 5px auto 0;
    width:95%;
	
}
.settings {
	border-top:2px solid rgb(204, 204, 204);
	border-bottom:2px solid rgb(204, 204, 204);
	margin-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	cursor: pointer;
}

.settings:hover {
	background:rgba(204, 204, 204,0.2);
}
.info {
	border-top:2px solid rgb(204, 204, 204);
	border-bottom:2px solid rgb(204, 204, 204);
	border-color:rgb(204, 204, 204);
	margin-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
@media screen and (max-width: 800px) {
  html, body {
      font-size: 12px;
  }
  div.header>div>ul>li>a {
   font-size: 12px; 
   padding: 0 5px;
  }
  .header {
	height: 40px;	
	line-height: 40px;
  }
  .headerContainer {
  	height: 40px;
  }
  .contentContainer {
  	top: 40px;
  }
  div.header>div>ul>li>a {
  	line-height: 39px;
  }
  div.header>div>ul>li {
  	line-height: 40px;
  	height: 40px;
  }
  h3{
  	font-size:14px;
  }
 .map_container {
	top: 40px;
  }
}


