<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>{{userName}}'s Latitude (Import / Export)</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='//fonts.googleapis.com/css?family=Roboto:500,400,300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/default.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div class="header">
    <div class="headerContainer">
        <ul id="left-nav">
            <li class="headInfo">Import / Export</li>
            <li><a id="map" title="{{userName}}'s Location" href="/"></a></li>
            <li><a id="history" title="History View" href="/"></a></li>
            <li><a id="friends" title="Friends Locations" href="/"></a></li>
            <li><a id="settings" title="Admin Settings" href="/admin"></a></li>
        </ul>
    </div>
</div>
<div class="contentContainer">
    <div class="content">
        <div class="info">
            <h3>Import / Export</h3>
            Use this page to import or export your location data. (There maybe problems if the import file is larger than
            32mb zipped) and both methods will use a lot of database read / writes so might put you close to your limits for
            the day.
        </div>
        <div class="info">
            <h3>Import Location File</h3>
            Please upload a zip file containing Locations.json for Google TakeOut format or Locations.csv for bulkloader
            CSV format. Each location will use at least one database write, so split large imports over multiple days when
            using the free account.<br/><br/>
            <form action="{{url}}" method="POST" enctype="multipart/form-data">
            Upload File: <input type="file" name="file"><br> <input type="submit"
            name="submit" value="Submit"> </form>
        </div>
        <div class="info">
            <h3> Export Locations</h3>
            Start a task to get emailed a zip file of your location data. Each location in your database will cause one read
            so for large databases consider using bulkloader if you are on the free account. (TODO: Add to and form fields
            to define range for export.)<br/><br/>
            <form action="/exportlocations" method="POST" enctype="multipart/form-data">
            Output format (Google TakeOut JSON format or bulkloader CSV format):
            <select name="format">
              <option value="JSON">JSON</option>
              <option value="CSV">CSV</option>
            </select><br/>
            <input type="submit" name="submit" value="Submit"> </form>
        </div>
        <div url="/admin" class="settings">
            <h3> <img src="../images/previous.png">Admin Settings</h3>
            Return to admin settings
        </div>
    </div>
</div>
</body>
</html>